<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>
    <header th:replace="layout :: site-header"/>

    <main >
        <article class="posts">
            <h2 class="title" th:text="${post.title}">Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
                <span th:if="${post.author}" th:remove="tag">
                    <i>by</i>
                    <span th:text="${post.author.fullName != null ? post.author.fullName : post.author.username}">Svetlin Nakov</span>
                </span>
            </div>
            <p class="content" th:utext="${post.body}">Post Content</p>

            <a href="#"th:href="@{/posts/delete/{id}/(id=${post.id})}"><button type="button" class="btn btn-secondary">Delete</button></a>
            <a href="#"th:href="@{/posts/edit/{id}/(id=${post.id})}"><button type="button" class="btn btn-secondary">Edit</button></a>
            <hr>
        </article>

        <h4>Comments</h4>

        <article   th:each="c:${comments}">
            <p class="comment" th:text="${c.body}"> <img src="" /></p>
        </article>


        <form method="post" th:object="${commentForm}">
            <textarea id="body" name="body" th:value="*{body}" rows="10" cols="100"> content ...</textarea>
            <div><input type="submit" value="Create Comment"></div>
        </form>

    </main>



<footer th:replace="layout :: site-footer"/>

</body>