<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>
    <header th:replace="layout :: site-header"/>

    <main >
        <article class="posts">
            <h2 class="title" th:text="${post.title}">Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#dates.format(post.date, 'dd-MM-yyyy')}">22-May-2016</span>
                <span th:if="${post.author}" th:remove="tag">
                    <i>by</i>
                    <span th:text="${post.author.username}">Svetlin Nakov</span>
                </span>
            </div>
            <p class="content" th:utext="${post.body}">Post Content</p>

            <a href="#"th:href="@{/posts/delete/{id}/(id=${post.id})}"><button type="button" class="btn btn-secondary">Delete</button></a>
            <a href="#"th:href="@{/posts/edit/{id}/(id=${post.id})}"><button type="button" class="btn btn-secondary">Edit</button></a>
            <hr>
        </article>
        <article id="comment">
            <h4>Comments</h4>
            <hr>
            <div   th:each="c:${comments}">
                <span th:if="${c.author}" th:remove="tag">
                    <span class="commentAuthor" th:text = "${c.author.username}"></span>
                </span>
                <span th:text = "${#dates.format(c.date, 'dd-MM-yyyy')}"></span>
                <p class="comment" th:text="${c.body}"> </p>
                <hr>
            </div>
        </article>

        <form id="commentForm" method="post" th:object="${commentForm}">
            <textarea  name="body" th:value="*{body}"> content ...</textarea>
            <div><input type="submit" value="Create Comment"></div>
        </form>

    </main>



<footer th:replace="layout :: site-footer"/>

</body>