<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>Spring MVC Blog</title>
</head>

<body>

<header th:replace="layout::site-header" />
<aside >
    <h2>Popular posts</h2>
    <hr>
        <div th:each="p:${latest5posts}">
            <h5><a href="#" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a></h5>
            <span class="date" th:text="${#dates.format(p.date,'dd-MM-yyyy')}"/>
        </div>

</aside>
<main id="posts">
    <article th:each="p:${allPosts}">
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date,'dd-MM-yyyy')}">22-May-2016</span>
            <span th:if="${p.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${p.author.fullName!=null?p.author.fullName:p.author.username}">Svetlin Nakov</span>
        </span>
        </div>
        <h2 class="title" th:text="${p.title}">Post Title</h2>
        <span id="body">
            <p class="content" th:if="${#strings.length(p.body)< 250}" th:utext="${p.body}">Post content</p>
            <span th:if="${#strings.length(p.body)> 250}">
                <p class="content"  th:utext="${#strings.substring(p.body, 0, 500)}">Post content</p>
                <a th:href="@{/posts/view/{id}/(id=${p.id})}">Read More</button></a>
            </span>
        </span>
    </article>
</main>

<footer th:replace="layout::site-footer" />
</body>

</html>