<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:fragment="site-head">
    <meta charset="UTF-8">

    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>

    <script src="../public/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../public/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>


    <!--<meta th:include="this::head" th:remove="tag"/>-->
</head>
<body>
    <header th:fragment="site-header" th:remove="tag">
        <header th:with="user=${session[T(blog.services.UserServiceImpl).LOGGED_USER_SESSION_KEY]}">
            <nav class="navbar justify-content-between navbar-light">
                <span class="form-inline">
                    <a class="navbar-brand" href="index.html" th:href="@{/}">Home</a>
                    <a class="navbar-brand" href="#" th:href="@{#}"> THEME </a>
                    <a class="navbar-brand" href="#" th:href="@{#}"> THEME </a>
                    <a class="navbar-brand" href="#" th:href="@{#}"> THEME </a>
                    <a class="navbar-brand" href="#" th:href="@{#}"> THEME </a>
                </span>
                <span class="form-inline" th:if="!${user}">
                    <a class="navbar-brand" href="users/login.html" th:href="@{/users/login}">Login</a>
                    <a class="navbar-brand" href="users/register.html" th:href="@{/users/register}">Register</a>
                    <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/jakub-p%C5%82otnikiewicz-8627a6107/"><img src="../public/img/In-2C-34px-R.png" th:src="@{/img/In-2C-34px-R.png}" /></a>
                </span>
                <span class="form-inline" th:if="${user}">
                    <a class="navbar-brand" href="users/login.html" th:href="@{/users/logout}">Logout, <span th:text="${user.username}"></span></a>

                    <span th:if="${user.userStatus}==0" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminPanel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrato Menu
                        </a>
                        <span class="dropdown-menu" aria-labelledby="adminPanel">
                            <a class="dropdown-item" href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
                            <a class="dropdown-item" href="#" th:href="@{#}">Function</a>
                            <a class="dropdown-item" href="#" th:href="@{#}">Function</a>
                            <a class="dropdown-item" href="#" th:href="@{#}">Function</a>
                        </span>
                    </span>

                    <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/jakub-p%C5%82otnikiewicz-8627a6107/"><img src="../public/img/In-2C-34px-R.png" th:src="@{/img/In-2C-34px-R.png}" /></a>
                </span>
            </nav>
            <hr>
        </header>

        <ul id="messages" th:with="notifyMessages=${session[T(blog.services
              .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">

                <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
                    th:class="${#strings.toLowerCase(msg.type)}" >
                </li>
            <span th:if="${notifyMessages}" th:remove="all" th:text="${#session.removeAttribute(
          T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
        </ul>


    </header>
    <footer  th:fragment="site-footer">
         Spring MVC Blog System, 2018
    </footer>
</body>
</html>